@import "../../Assets/global.scss";

.search-container{
    box-sizing: border-box;
    margin-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 70px;
    margin: 10px;    
}

.search-main{
    width: 80%;
    display: flex;
    justify-content: center;
    .cards-tainer{
      width: 100%;
     
    }
}

.search-options{
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
}

.search-buttons-options{
    display: flex;
    flex-direction: column;    
}

.btn-search{
    text-align: left;
    margin: 5px;
    padding: 5px;
    border: none;
    background-color: white;
    color: $gunmetal;
    font-size: 20px;
    border-radius: .25rem;
    &:hover{
        color: $gunmetal;
    }
    &:focus{

        background-color: $bblue;
        color:$gunmetal ;
        transition: 500ms;
    }
}

.no-found-card{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and(max-width: 480px) {

    .search-container{
        h3{
            display: none;
        }
    }

    .search-header{
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;
        
    }

    .search-filter{
        margin-left: 10px;
    }
    
    .search-main{
        width: 100%;
        flex-direction: column;

    }

    .search-options{
        width: 100%;
        flex-direction: row;
        justify-content: center;   
    }

    .btn-search{
        margin: 0;
    }
}

@media only screen and(min-width: 1200px) {
    .search-header{
        width: 60%;
        
    }
    
    .search-main{
        width: 60%;
    }
}