@import "../../Assets/global.scss";


/*****************NAV*******************/
//.navbar-container{
    //box-shadow: $seaweed 0px 1px 3px 0px, $seaweed 0px 1px 1px 1px;
//}
.nav-container{
    display: flex;
    background-color: $bblue;
    align-items: center;
    width: 100%;
    height: 70px;
}

.nav-left-side{
    width: 40%;
    margin-left: 10px;
    display: flex;
    align-items: center;

}

.nav-right-side{
    width: 60%;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.links-container{
    padding: 0;
    margin: 0;
    width: 40%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;   
    
}

.btn-nav{
    margin: 5px;
    width: 45px;
    height: 45px;
    border:none;
    border-radius: 100%;
    background-color: $bblue;
    color: $seaweed;
    &:hover{
        background-color: $seaweed;
        color: $bblue;
    }
}
/****************LOGO******************/
.logo{
    margin: 5px;
    cursor: pointer;
    object-fit: cover;
    img{
        height: 40px;
    }
}


