@import "../../Assets/global.scss";

.landing-container{
    box-sizing: border-box;
    width: 100%;
    height: 100%;

}

.landing-header{
    position: relative;
    margin-top: 70px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-content: center;

    .landing-header-left{
        width: 50%;
        height: 100%;
        img{
            width: 100%;
        }
    }

    .landing-header-right{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .landing-title{
            font-size: 50px;
            font-weight: 700;
            color: $gunmetal;
            margin-bottom: 20px;
        }
        .landing-message{
            width: 400px;
            text-align: justify;
            font-size: 20px;
            color: $gunmetal;
            margin-bottom: 20px;
        }
        .landing-link{
            text-align: center;
            width: 100px;
            font-size: 20px;
            padding: 5px;
            color: $gunmetal;
            background-color: $bblue;
            border: 1px solid $gunmetal;
            border-radius: .5rem;
            &:hover{
                border: 1px solid $gris;
                color: $seaweed;
                text-decoration: none;
            }
        }
        
    }
    .curved{
        position: absolute;
        width: 100%;
        z-index: -1;
    }
    .curved-up{
        bottom: 0;
        position: absolute;
        width: 100%;
        z-index: -1;
    }
}

.landing-body{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .landing-body-title{
        margin-bottom: 20px;
        color: $seaweed;
        text-align: center;
    }
    .landing-body-card{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

.landing-guia{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: $seaweed;
}

.landing-guia-title{
    text-align: center;
    margin: 10px 0;
    color: $bblue;
}

.landing-guia-body{
    display: flex;
    justify-content: space-evenly;
}

.landing-guia-steps{
    width: 200px;
    height: 200px;
    background-color: $bblue;
    border: 2px solid $gunmetal;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $seaweed;
    span{
        margin-top: 20px;
        font-size: 25px;
    }
}


@media only screen and(max-width: 480px) {

    .landing-header{
        margin-top: 60px;
        flex-direction: column;
        height: 100%;
        .landing-header-right{
            
            position: relative;
            width: 100%;
            text-align: center;
            .landing-message{
                padding: 10px;
                width: 100%;
                color: white;
            }

            .landing-title{
                width: 100%;
                color: white;
            }

            img{
                background-color: $seaweed;
                opacity: 0.9;
                position: absolute;
                object-fit: cover;
                top: 0;
                left: 0;
                width: 100%;
                height: 320px;
                z-index: -1;
            }
        }
        
    }
    .landing-body{
        margin:10px 0;
        flex-direction: columns;
        height: 1400px;
        .landing-body-title{
            width: 100%;
            h1{
                font-size: 35px;
            }
        }
        .landing-body-card{
            height: 100%;
            flex-direction: column;
            justify-content: space-evenly;
        }
    }
    
}

