@import "../../../Assets/global.scss";

.hamburger-menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 300px;
    height: 100vh;
    background-color: $seaweed; 
}

.btn-close{
    width: 40px;
    height: 40px;
    background-color: $seaweed;
    border:none;
    border-radius: 100%;
    color: $gunmetal;
    &:hover{
        background-color: $gunmetal;
        color: $seaweed;
    }
}

.header{
    height: 70px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: $gunmetal;
    background-color: $seaweed;
    border-bottom: 1px solid $gunmetal;
    h3{
        margin: 0;
    }

}
