@import "../../../Assets/global.scss";

.navbar-link{
    margin-right: 10px;
    font-size: 20px;
    color:$seaweed;
    a{
        padding: 5px;
        text-decoration: none;
        &:hover{
            cursor: pointer;
            background-color: $gris;
            border-bottom: solid 2px $seaweed;
        }
    }
}